body
{
    background-color:white;
}
#demo1
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:bold;
    color:blue;
}
#demo2
{
    color: blue;
    font-style:italic;

}
#demo4
{
    color:blue;
    
    font-style:italic;

}
#demo
{
    color:black;
    
    font-size: 30px;

}
#select
{
    padding: 11px 13px;
}

button
{
width:70px;
height:20px;
margin:5px;
}

#reset
{
    width:160px;
    height:20px;
    margin:10px;
    text-align:center;
    position:center;
    display:flex;
    justify-content: center;
}
#correctness
{
    width:260px;
    height:20px;
    margin:20px;
    text-align-last:center;
    position:center;
}